.framed_container {
	border-style: dotted;
        margin-left: auto;
        margin-right: auto;
}

.btn {
    width: 180px;
    margin: 20px;
    padding: 12px;
}

.center {
	align: center;
	text-align: center;
}

body {
    font-family: sans-serif;
}
